#headerComponentRootPane {
    -fx-background-color: #343634;
}

#rootGridPane{
    -fx-background-color: #343634;
}

.RootPane{
    -fx-background-color: #343634;
}
.GridPane{
    -fx-background-color: #343634;
}
.Pane{
    -fx-background-color: #343634;
}
.scroll-pane{
    -fx-background-color: #343634;

}
.label{
    -fx-text-fill: #e1e1e1;
    -fx-font-weight: bold;
}