#headerComponentRootPane {
    -fx-background-color: #343634;
}

#rootGridPane{
    -fx-background-color: #343634;
}

#rootGrid{
    -fx-background-color: #343634;
}

#headerComponentRootPane .label{
    -fx-text-fill: #e1e1e1;
    -fx-font-weight: bold;
}

.label{
    -fx-text-fill: #e1e1e1;
    -fx-font-weight: bold;
}

#headerComponentRootPane .choice-box .label {
    -fx-text-fill: #000000;
}
.menu-item{
    -fx-text-fill: #000000;
}
.choice-box .label {
    -fx-text-fill: #000000;
}
.notify .label{
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background-color: #545456;
}

#encryptHbox{
    -fx-background-color: #343634;
}
#statisticsAnchor{
    -fx-background-color: #343634;
}

#statisticsGridOfScroll{
    -fx-background-color: #343634;
}
#statisticsScroller{
    -fx-background-color: #343634;
}
#statisticsScrollPane{
    -fx-background-color: #343634;

}
#statisticsAccordion{
    -fx-background-color: #343634;
}

#statisticsVBox{
    -fx-background-color: #343634;
}
.list-view{
    -fx-background-color: #545456;
}

.list-view .list-cell:even {
    -fx-background-color: #5b5b5b;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #414040;
    -fx-text-fill: white;
}
#dictionaryList  {
    -fx-background-color: #343634;
    -fx-text-fill: white;
}
#dictionaryList .list-cell:odd {
    -fx-background-color: #414040;
    -fx-text-fill: white;
}

.pane{
    -fx-background-color: #414040;
    -fx-text-fill: white;
}
.GridPane{
    -fx-background-color: #414040;
    -fx-text-fill: white;
}
.flow-pane{
    -fx-background-color: #414040;
    -fx-text-fill: white;
}

#bruteForceDecryptionGrid{
    -fx-background-color: #343634;
    -fx-text-fill: white;
}

.VBox{
    -fx-background-color: #343634;
    -fx-text-fill: white;
}

#dictionaryVBox{
    -fx-background-color: #343634;
    -fx-text-fill: white;
}
#dmResultsFlowPane{
    -fx-background-color: #343634;
    -fx-text-fill: white;
}

#menuBar{
    -fx-background-color: #343634;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 3 0;
}

.menu-item{
    -fx-background-color: #343634;
    -fx-text-fill: white;
}

#imageGrid{
    -fx-background-color: #515451;
}

#basicEncryptFlowPane .label{
    -fx-font-size: 10;
}
/*todo - fix statistics*/